body {
    background-color: #f8f9fa !important;
}
.app-title {
    font-size: 50px;
    color: red;
    text-align: center;
    padding-top: 10px;
}
.translation-flag {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.translation-flag.en {
    margin-right: 35px;
}
.country-list {
    height: 600px;
    overflow: auto;
}
.content {
    margin-top: 30px !important;
}
.px-container {
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.active-state {
    border-top: 5px solid red !important;
}
.covid-state {

    cursor: pointer;
}